{
  "overrides": [
    {
      "files": ["*.sql"],
      "options": { "parser": "sqlite" }
    },
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ],
  "plugins": ["prettier-plugin-sql-cst", "prettier-plugin-astro"]
}
